.mn{
    display: inline;
    height: 100%;
    width: auto;
    border: 1px solid black; 
    background: cadetblue;
}

.mn:hover>.ls{
    display: block;

}

.ls{
    width: ;
    display: none; 
    background: cadetblue;
    margin-top: 0px;
    border: 1px solid black;
}

